
<!--Google map-->
<div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
  <iframe src="https://maps.google.com/maps?q=manhatan&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
    style="border:0" allowfullscreen></iframe>
</div>

<!--Google Maps-->
<style>
  .map-container{
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
padding-top: 7em;
}
.map-container iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
padding-top: 5em;
}
</style>


<section>
  
<div class="container">
  <p style="color: blue; text-align: center;">This Form Help You To Contact The Owner</p>
<form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Enter Name</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Name">
    <div id="text" class="form-text"></div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Enter Place</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter Place">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Enter Mobile Number</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter Mobile Number">
  </div>
  <div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Text Area</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Enter Your Text..."></textarea>
</div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>

</section>

<!-- Footer -->
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <p>Developer Contact:</p>
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/adwebworksofficial/" role="button"
        ><i class="fab fa-instagram"></i>
      </a>

      <!-- Twitter -->
      

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://mail.google.com/mail/u/0/#inbox?compose=new" role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/adithyan-ashok-3476b21b7/" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/adithyanashok" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->

    <!-- Section: Form -->
    
          <!--Grid column-->

          <!--Grid column-->
          
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->

    <!-- Section: Text -->
    <section class="mb-4">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
        repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam
        eum harum corrupti dicta, aliquam sequi voluptate quas.
      </p>
    </section>
    <!-- Section: Text -->

    <!-- Section: Links -->
    
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    <a style="text-decoration: white; color: white;" href="http://127.0.0.1:5500/index.html"><p>Designed By Adithyan Ashok</p></a>
    © 2020 Copyright 
   
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->