<section style="padding-top: 7em;">
  <div class="container-fluid mt-5 ">
    <div class="row p-3 ">
      {{#each cars}}
      <div class="col-md-3 p-3">
        <div class="card" style="width: 18rem;">
          <a style="text-decoration:none; color: black;" href="/place-order"> <img src="{{this.image}}"
              class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{this.name}}</h5>
              <p class="card-text">{{this.price}}</p>
              <p class="card-text">{{this.features}}</p>
              <p style="color: blue;">Click Image For Contact the Seller</p>
          </a>

        </div>
      </div>
    </div>
    {{/each}}

  </div>
  </div>


</section>
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <p>Developer Contact:</p>
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/adwebworksofficial/" role="button"
        ><i class="fab fa-instagram"></i>
      </a>

      <!-- Twitter -->
      

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://mail.google.com/mail/u/0/#inbox?compose=new" role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/adithyan-ashok-3476b21b7/" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/adithyanashok" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->

    <!-- Section: Form -->
    
          <!--Grid column-->

          <!--Grid column-->
          
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->

    <!-- Section: Text -->
    <section class="mb-4">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
        repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam
        eum harum corrupti dicta, aliquam sequi voluptate quas.
      </p>
    </section>
    <!-- Section: Text -->

    <!-- Section: Links -->
    
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    <a style="text-decoration: white; color: white;" href="http://127.0.0.1:5500/index.html"><p>Designed By Adithyan Ashok</p></a>
    © 2020 Copyright 
   
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->